# Supabase Configuration
REACT_APP_SUPABASE_URL=https://augvjweexnchmqxchmun.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1Z3Zqd2VleG5jaG1xeGNobXVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMjU0NTAsImV4cCI6MjA3MzkwMTQ1MH0.dmkBezcDE8T3LriDf4hOPCwJKrYw9C-vU0cQQLnZSHY

# API Configuration
REACT_APP_API_URL=http://localhost:3001
REACT_APP_WS_URL=ws://localhost:3002
